doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Group 
    body 
        h1 #{group.name}
        h2 #{group.description}
        p Members: 
        ul 
            each member in members 
                li #{member.username}
        h3 Gifts:
        ul
            each gift in gifts 
                li <b>#{gift.from}</b> reserved 
                    a(href=gift.link target="_blank") #{gift.title}
                    |  for <b>#{gift.to}</b> 
                    br
                    | #{gift.description}
        p
            a(href="/leave/"+group.uid style="color: red;") Leave Group
        form(action="/invite", method="post")
            h3 Invite a User: 
            input(type="email", name="email" placeholder="Email")
            input(type="hidden", name="group_id", value=group.uid)
            input(type="submit", value="Invite") 
            if group.invite_id 
                p Or share this code: 
                    span#invite_id #{group.invite_id}
            else 
                p Generate an invite code: 
                    a#generate_invite(href="/generate-invite/"+group.uid) Generate
        form(action="/dibs", method="post") 
            h3 Reserve a gift 
            select(name="for_")
                each member in members 
                    if member.uid != uid
                        option(value=member.uid) #{member.username}
            input(type="hidden", name="group_id", value=group.uid)
            p
                label(for="name") Gift Name: 
                input(type="text", name="gift_name")
            p
                label(for="description") Gift Description: 
                input(type="text", name="gift_description")
            p
                label(for="link") Link: 
                input(type="url", name="link")
            p 
                input(type="submit", value="Dibs!")
        p
            a(href="/") Back to Home
        script(src="/static/scripts/invite.js")